# Node
node_modules/
npm-debug.log*
yarn-error.log
pnpm-lock.yaml
package-lock.json

# Build
dist/
build/
.env
.env.local
.env.production
.env.development

# Logs
logs
*.log

# Editor
.vscode/
.idea/
.DS_Store

# OS
Thumbs.db

# Mongo dump
dump/
